
.icon-user:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-desktop:before { content: '\f108'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-gplus:before { content: '\f30f'; } /* '' */
